<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{ $title := print .Title " - " .Site.Title }}
    {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
    {{ $description := .Params.Subtitle }}
    {{ if .IsHome }}{{ $description = .Site.Params.Description }}{{ end }}
    {{ $thumbnail := .Params.thumbnail }}

    <title>{{ $title }}</title>
    <meta name="description" content="{{ $description }}">
    <meta name="author" content="chapliboy">
    <meta property="og:image" content="{{ $thumbnail }}" />
    <link rel="image_src" href="{{ $thumbnail }}" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ $title }}">
    <meta name="twitter:description" content="{{ $description }}">
    <meta name="twitter:creator" content="@chapliboy">
    <meta name="twitter:image" content="{{ $thumbnail }}">

    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>
