{{ define "main" }}
<p>
I am honoured and grateful to be selected as a part of the 2023 <a href="https://www.astragames.org/fellowship/fellows">Astra Fellowship</a> cohort.
This is a site to document my experience over the course of the year.
</p>
<hr></hr>
<div class="subdivision-header">
  fellowship jam series
</div>
<p>
Over the first two months of the program, we will be focussing on experimentation through game jams.
</p> 
Over this period, my goal is to improve at the craft of creating and designing games.
This has two aspects. 
<ul>
  <li>
get better at identifying the specific experience that I would like to deliver via
the game, and then execute on that. 
  </li>
  <li>
get more experience with exploring the systems that I create, and finding the interesting
points of emergence within them.
  </li>
</ul>

<div class="update">
  <div class="update-title">
    <a href="jams/hiveminder/">hiveminder</a>
  </div>
  <div class="update-info">
    jam 1: 10 July - 14 July 2023
    <br>
    What is this? A city builder for bees?
  </div>
</div>

<div class="update">
  <div class="update-title">
    <a href="jams/sensors_n_signals/">Sensors n Signals</a>
  </div>
  <div class="update-info">
    jam 2: 17 July - 21 July 2023
    <br>
    Thinky traffic intersections...
  </div>
</div>


<hr class="update-end"></hr>
<div class="subdivision-header">
  long term project
</div>
<p>
Over the rest of the year, we will be working on longer term projects, with the support of our mentors
and the Astra staff.
</p>

{{- partial "footer.html" . -}}
{{ end }}
